:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-gray: #505050;
    --clr-accent: #16e0bd;
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --fs-column-about: 300px;
    --fs-margin-about-img: .25em;
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.35), 0.125em 0.125em 0.25em rgba(0,0,0,.2);
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

.schedule input {
    position: absolute;
    cursor: pointer;
    width: 20%;
    border: 2px solid #000000;
}

.checkbox-custom {
    border: 2px solid #000000;
    height:100px;
}

#all:checked ~ .container .filterDiv {
    display: block;
}

.filterDiv, :not(#all):checked ~ .container .filterDiv {
    float: left;
    background-color: var(--clr-dark);
    color: #ffffff;
    width: 100%;
    line-height: 100px;
    text-align: center;
    margin-bottom: 1px;
    display: none;
}

#plat:checked ~ .container .plat,
#gold:checked ~ .container .gold {
    display: block;
}

.container {
    margin-top: 20px;
    overflow: hidden;
}

.time {
    text-align: left;
    float: left;
    width: 20%;
}

.content {
    float: left;
    width: 60%;
}

.series {
    text-align: right;
    float: left;
    width: 20%;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: relative; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 100;
}

    /* Links inside the navbar */
    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change background on mouse-over */
        .navbar a:hover {
            background: #ddd;
            color: black;
        }
